services:
  reverse-proxy:
    build: ./reverse-proxy
    container_name: reverse-proxy
    restart: unless-stopped
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    environment:
      - SITE1_DOMAIN=${SITE1_DOMAIN}
      - SITE2_DOMAIN=${SITE2_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    depends_on:
      - site1
      - site2
      - forms-data-handler

  site1:
    build: ./sites/site1
    container_name: site1
    environment:
      - SITE1_DOMAIN=${SITE1_DOMAIN}
    restart: unless-stopped
    networks:
      - app-network

  site2:
    build: ./sites/site2
    container_name: site2
    environment:
      - SITE2_DOMAIN=${SITE2_DOMAIN}
    restart: unless-stopped
    networks:
      - app-network

  forms-data-handler:
    build: ./forms-data-handler/
    restart: unless-stopped
    environment:
      - GOOGLE_POST_URL=${GOOGLE_POST_URL}
    networks:
      - app-network

  bot1:
    build: ./bots/bot1
    container_name: bot1
    restart: unless-stopped
    environment:
      - BOT1_TOKEN=${BOT1_TOKEN}
      - SITE1_DOMAIN=${SITE1_DOMAIN}
      - GOOGLE_POST_URL=${GOOGLE_POST_URL}
    
  bot2:
    build: ./bots/bot2
    container_name: bot2
    restart: unless-stopped
    environment:
      - BOT2_TOKEN=${BOT2_TOKEN}
      - SITE2_DOMAIN=${SITE2_DOMAIN}
      - GOOGLE_POST_URL=${GOOGLE_POST_URL}

networks:
  app-network:
    driver: bridge